div.Metrics {
  display: flex;
  flex-wrap: wrap;
}

.Metric {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.07), 0 7px 17px 0 rgba(0,0,0,.1);
  transition: box-shadow .1s ease-in-out;
  text-decoration: none;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 16px;
  margin: 0px 20px 20px 0px;
  height: 70px;
  width: 20%;

  .MetricName {
    font-size: 14px;
  }

  .MetricValue{
    font-size: 24px;
    font-weight: 900;
    color: #1976D2;
  }
}

.Metric:hover {
  opacity: 1;
  z-index: 100;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.12), 0 7px 25px 0 rgba(0,0,0,.15);
}
