.CompanyPage {
  padding: 24px 60px;
}

.CompanyPageTop {
  display: flex;
  align-items: center;
}

.CompanyAvatar {
  display: inline;

}

.CompanyTitle {
  display: inline;
  font-weight: 900;
  font-size: 32px;
}


