.SearchBar {
  display: flex;

  &__paper {
    display: flex;
    flex-grow: 1;
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
  }
  &__search-field {
    display: flex;
    align-items: center;
    width: 85%;
  }
}
